*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
  width: 100%;
}
